<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :patient_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.datetime_select :date_of_birth, id: :patient_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :patient_mobile %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :patient_email %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :patient_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
