<p id="notice"><%= notice %></p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor.speciality %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @doctor.availability %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
