<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_name %>
    <%= form.text_field :patient_name, id: :appointment_patient_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.datetime_select :date_of_birth, id: :appointment_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :appointment_mobile %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :appointment_email %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :appointment_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
