<p id="notice"><%= notice %></p>

<p>
  <strong>Patient name:</strong>
  <%= @appointment.patient_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @appointment.date_of_birth %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @appointment.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @appointment.email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
