<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @appointment.service %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @appointment.slot %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
